<footer class="page-footer grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Stories App</h5>
        <p class="grey-text text-lighten-4">
          Share your stories with others
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul class="links">
          <li>
            <a href="/stories" class="grey-text text-lighten-3" aria-label="stories">Public Stories</a>
            <a href="/about" class="grey-text text-lighten-3" aria-label="about">About</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      &copy; 2019 Stories App
    </div>
  </div>
</footer>